<h1>New Comment!</h1>

<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">
  Body <textarea name="comment[content]"></textarea>

  <input type="submit" value="Submit">
</form>