<h1>Create a post</h1>

<form action="<%= posts_url %>" method="post"> 
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
  <label>
    Title <input type="text" name="post[title]" value="">
  </label>
  </p>
  <p>
  <label>
    URL <input type="text" name="post[url]" value="">
  </label>
  </p>
  <p>
  Content <textarea name="post[content]" title="Content" data-placement="bottom"></textarea>
  </p>
  <% Sub.all.each do |sub| %>
    <label>
      <%= sub.title %> <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">
    </label>
  <% end %>
  <input type="submit" value="Create post">
</form>